/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  --main-color: #17103E;
  --main-btn-color: #18B876;
  // --main-bg: #eef2f4 url('/assets/images/pattern-grey.svg') 0 0 repeat !important;
}

* {
  font-size: 18px;
  box-sizing: border-box;
  text-align: left;
  font-family: Helvetica, Arial,  sans-serif; //"Helvetica Neue" is not rendering well !
  letter-spacing: 0px;
  color: var(--main-color);
  font-weight: normal;
}

nav {
  background-color: var(--main-color) !important;

  a {
    color: #fff;
    font-weight: bold;
  }
}

.navbar-logo {
  top: 20px;
  left: 10px;
  width: 175px;
  height: 30px;
  // background: transparent url('./assets/Logo/Tobii_Dynavox_Logo_White.png') 0% 0% no-repeat padding-box;
}


