/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  --main-color: #17103E;
  --main-btn-text-color: #fff;
  --main-btn-bg-color: #18B876;
  --main-bg-loading: #eef2f4 url('./assets/Icons/Icons_Loading.svg') 50% 50% no-repeat !important;
}

* {
  box-sizing: border-box;
  text-align: left;
  font-family: Helvetica, Arial,  sans-serif; //"Helvetica Neue" is not rendering well !
  letter-spacing: 0px;
  color: var(--main-color);
  font-weight: normal;
}

nav {
  background-color: var(--main-color) !important;
  font-size: 22px;

  a {
    color: #fff;
    font-weight: bold;
  }
}

.navbar-logo {
  top: 20px;
  left: 10px;
  width: 175px;
  height: 30px;
}

.tobi-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--main-color) !important;
  border-radius: 5px;
  font-size: 22px;
  width: 114px;
  height: 70px;
  background-color: var(--main-btn-bg-color);

  span {
    color: var(--main-btn-text-color);
    font-weight: bold;
  }

  > span:after {
    content: "";
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.add-btn  {
  width: 228px;

  > span:after {
    content: "+";
  }
}

.edit-btn > span:after {
  background-image: url('./assets/Icons/Icons_Edit.svg');
}

.delete-btn > span:after {
  background-image: url('./assets/Icons/Icons_Delete.svg');
}

.cancel-btn {
  background-color: #F8FBFA;
  color: var(--main-color);
  background-image: url('./assets/Icons/Icons_Cancel.svg');
  fill: var(--main-color);
}


.swal2-actions {
  justify-content: space-around !important;
}
