.tobi-table {
  border-collapse: separate;
  border-spacing: 0 15px;
  font-size: 22px;

   th {
    vertical-align: bottom;
    padding-bottom: 0;
    font-weight: bold !important;
  }
}

.table-loading {
  background: var(--main-bg-loading);
  height: 400px;
}

