app-admin-product-category {

  tr > td:first-child {
    background-color: #F5F5F5;
    vertical-align: middle;
    border: 1px solid var(--main-color);
    border-radius: 5px;
  }

  tr > td:nth-last-child(-n+2) {
    padding: 0 15px 0 15px !important;
    max-width: 100px;
  }

  tr:hover > td:first-child{
    background-color: rgba(0, 0, 0, 0.075);
  }

}

